<div class="date-time-container">

  @if (label) {
    <label class="date-time-label">
      {{ label }}
      
      @if(required){
            <span class="required">*</span>
      }
    </label>
  }

  <input
    [type]="type"
    class="date-time-input"
    [class.error-input]="errorMessage"
    [value]="value"
    [min]="min"
    [max]="max"
    [disabled]="disabled"
    (input)="onValueChange($event)"
    (blur)="onBlur()"
  />

  @if (errorMessage) {
    <span class="error-message">
      {{ errorMessage }}
    </span>
  }

</div>