<div class="input-container">

    <label>

        {{ label }}

        @if(required){
            <span class="required">*</span>
        }

    </label>

    <div class="input-wrapper" [class.error]="errorMessage">
        <input
            [type]="
                    type === 'password'
                        ? (hidePassword() ? 'password' : 'text')
                        : type
                "
            [placeholder]="placeholder"
            [value]="value"
            [disabled]="disabled"            
            (input)="onValueChange($event)"
            (blur)="onBlur()"
        />
        @if(type === "password") {
            <button type="button" (click)="togglePassword()">{{ hidePassword() ? '👁️' : '👁️‍🗨️' }}</button>
        }
    </div>

    @if(errorMessage){

        <small class="error-message">

            {{ errorMessage }}

        </small>

    }

</div>