.baby-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  width: 100%;
  min-width: 0;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);
  width: 100%;
}

.delete-button {
  padding: 0;
  border: none;
  background: transparent;

  color: var(--error-color);
  font-weight: 600;

  cursor: pointer;
}

.delete-button:hover{
  color: rgb(172, 4, 4);
}

.delete-button mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}